/* Styles for pun_bbcode extension */

div#pun_bbcode_bar {
	margin: 0.2em 0 0 1em;
	position: relative;
	display: none;
	visibility: hidden;
	}

div#pun_bbcode_bar div#pun_bbcode_wrapper {
	width: 95%;
	position: relative;
	}

div#pun_bbcode_bar .graphical div#pun_bbcode_buttons {
	float: left;
	}

div#pun_bbcode_bar .graphical div#pun_bbcode_buttons img {
	margin: 0 3px;
	}

div#pun_bbcode_bar .graphical div#pun_bbcode_smilies {
	float: right;
	}

div#pun_bbcode_bar .graphical div#pun_bbcode_smilies img {
	margin: 0 1px;
	}