#brd-approval {border-top:none; }
#brd-visit {border-bottom:none;}
#brd-index #brd-visit {margin-bottom: 0;}
#brd-index #brd-approval {margin-bottom: 1em;}
#brd-voting {margin-top: 1em}

.brd .options span {
white-space:nowrap;
}

.brd p.options {
white-space:nowrap;
}